body{
    background-color: azure;
}

#objectcat{
    width: 50%;
    border: 10px solid black;
    display: block;
    margin: 0 auto;
}

.mainword{
    text-align: center;
}

#imgposter{
    text-align: center;
}